{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Banner -->
{% include 'banner.html' %}
<!-- Banner End -->
<!-- About -->
{% include 'about.html' %}
<!-- About End -->
<!-- Services -->
{% include 'services.html' %}
<!-- Services End -->
<!-- Experience -->
{% include 'experience.html' %}
<!-- Experience End -->
<!-- Work -->
{% include 'work.html' %}
<!-- Work End -->
<!-- Prices -->
{% include 'prices.html' %}
<!-- Prices End -->
<!-- Testimonial -->
{% comment %} {% include 'testimonial.html' %} {% endcomment %}
<!-- Testimonial End -->
<!-- Blog -->
{% comment %} {% include 'blog.html' %} {% endcomment %}
<!-- Blog End-->
<!-- Contact -->
{% include 'contact.html' %}
<!-- Contact End-->
<!-- Contact -->
{% include 'modals.html' %}
<!-- Contact End-->
{% endblock content %}
