{% load static %}
<section id="testimonials">
  <div class="container">
    <!-- section title -->
    <h2 class="section-title wow fadeInUp">Clients & Reviews</h2>

    <div class="spacer" data-height="60"></div>

    <!-- testimonials wrapper -->
    <div class="testimonials-wrapper">
      <!-- testimonial item -->
      <div class="testimonial-item text-center mx-auto">
        <div class="thumb mb-3 mx-auto">
          <img src="{% static 'images/avatar-3.svg' %}" alt="customer-name" />
        </div>
        <h4 class="mt-3 mb-0">John Doe</h4>
        <span class="subtitle">Product designer at Dribbble</span>
        <div
          class="bg-white padding-30 shadow-dark rounded triangle-top position-relative mt-4"
        >
          <p class="mb-0">
            I enjoy working with the theme and learn so much. You guys make the
            process fun and interesting. Good luck! 👍
          </p>
        </div>
      </div>

      <!-- testimonial item -->
      <div class="testimonial-item text-center mx-auto">
        <div class="thumb mb-3 mx-auto">
          <img src="{% static 'images/avatar-1.svg' %}" alt="customer-name" />
        </div>
        <h4 class="mt-3 mb-0">John Doe</h4>
        <span class="subtitle">Product designer at Dribbble</span>
        <div
          class="bg-white padding-30 shadow-dark rounded triangle-top position-relative mt-4"
        >
          <p class="mb-0">
            I enjoy working with the theme and learn so much. You guys make the
            process fun and interesting. Good luck! 🔥
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-6">
        <!-- client item -->
        <div class="client-item">
          <div class="inner">
            <img src="{% static 'images/client-1.svg' %}" alt="client-name" />
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <!-- client item -->
        <div class="client-item">
          <div class="inner">
            <img src="{% static 'images/client-2.svg' %}" alt="client-name" />
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <!-- client item -->
        <div class="client-item">
          <div class="inner">
            <img src="{% static 'images/client-3.svg' %}" alt="client-name" />
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <!-- client item -->
        <div class="client-item">
          <div class="inner">
            <img src="{% static 'images/client-4.svg' %}" alt="client-name" />
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <!-- client item -->
        <div class="client-item">
          <div class="inner">
            <img src="{% static 'images/client-5.svg' %}" alt="client-name" />
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <!-- client item -->
        <div class="client-item">
          <div class="inner">
            <img src="{% static 'images/client-6.svg' %}" alt="client-name" />
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <!-- client item -->
        <div class="client-item">
          <div class="inner">
            <img src="{% static 'images/client-7.svg' %}" alt="client-name" />
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <!-- client item -->
        <div class="client-item">
          <div class="inner">
            <img src="{% static 'images/client-8.svg' %}" alt="client-name" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
